DB_USER=template
DB_PASSWORD=password
DB_HOST=template-mysql
DB_PORT=3306
DB_NAME=template
ENV=development
AWS_ACCESS_KEY=XXXXX
AWS_PRIVATE_KEY=XXXXX
AWS_REGION=XXXXX
S3_BUCKET=XXXXX
SES_SENDER=XXXXX
POST_CODE_JP_TOKEN=XXXXX
FRONTEND_URL=XXXXX
